# for session secret, you can generate a string of 32 alphanumeric characters (e.g. pwgen 32 and pick one)
SESSION_SECRET= 
PG_USER=app-db-user # you can choose whatever name here
# for this password, you can generate a string of 32 alphanumeric characters (e.g. pwgen 32 and pick one)
PG_PASSWORD=  
PG_DB=app-db # you can choose whatever name here
### if NOT running on Docker  UNCOMMENT and INCLUDE: OPENAI_API_KEY and PG_HOST and PG_PORT
#PG_HOST=localhost
#PG_PORT=5432
#OPENAI_API_KEY=

# for the SMTP_RELAY_ keys, if you do not already have an SMTP relay you use, you can get an account
# from somewhere like smtp2go, sendgrid, etc.
SMTP_RELAY_SERVER=
SMTP_RELAY_PORT=
SMTP_RELAY_USER= 
SMTP_RELAY_PASSWORD=
SMTP_FROM=   # this is the email address e.g., app@example.com

# to set up these OAuth services, refer to their respective documentation
GITHUB_ID=
GITHUB_SECRET=
GITHUB_CALLBACK=https://<your-domain-name>/auth/github/callback

GOOGLE_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK=https://<your-domain-name>/auth/google/callback
