# Node modules
node_modules/

# Git
.git/
.gitignore

# Log files
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Temp files
tmp/
temp/

# Other
README.md
LICENSE
CHANGELOG.md
.github/
documentation/
docs/

# Docker related
docker-compose.yml
docker-compose.*.yml
Dockerfile.*
